In [1]:
import os
import pandas as pd
import numpy as np

LOTTO_DIR = './lottonumbers/'

In [22]:
lotto_files = os.listdir(LOTTO_DIR)

lotto_files.sort()
print(lotto_files[0], lotto_files[len(lotto_files) - 1])

lotto_files = pd.Series(lotto_files)

2006-12-30.txt 2019-04-16.txt

In [3]:
dataframe_lottos = {}

for lotto_file in lotto_files:
    with open(LOTTO_DIR + lotto_file, 'r') as fp:
        data = fp.read()

    dataframe = []
    index = []

    #skip url line by slicing index
    for line in data.split('\n')[1:]:
        splited = line.split(' ')
        index.append(splited[0])

        dataframe.append(splited[1:])
        
    dataframe_lottos[lotto_file] = pd.DataFrame(dataframe, index=index).T

In [38]:
dataframe_lottos['2017-09-01.txt']

,FIRST,THREE_FIRST,THREE_LAST,TWO,NEAR_FIRST,SECOND,THIRD,FOURTH,FIFTH,
0,143224,345,278,65,143223,245802,084754,004091,029387,None
1,None,679,195,None,143225,591396,154083,037907,039617,None
2,None,None,None,None,None,686809,223213,043342,040383,None
3,None,None,None,None,None,694048,226983,083483,106709,None
4,None,None,None,None,None,730988,264096,085791,109142,None
5,None,None,None,None,None,,366909,095967,114121,None
6,None,None,None,None,None,None,412056,108037,128873,None
7,None,None,None,None,None,None,524767,134119,132281,None
8,None,None,None,None,None,None,570083,157433,133823,None
9,None,None,None,None,None,None,641037,170226,138484,None
10,None,None,None,None,None,None,,190735,138867,None
11,None,None,None,None,None,None,None,213034,154937,None
12,None,None,None,None,None,None,None,224166,156894,None
13,None,None,None,None,None,None,None,240677,159741,None
14,None,None,None,None,None,None,None,256149,167230,None
15,None,None,None,None,None,None,None,263371,180564,None
16,None,None,None,None,None,None,None,283928,183329,None
17,None,None,None,None,None,None,None,285013,208758,None
18,None,None,None,None,None,None,None,287071,211600,None
19,None,None,None,None,None,None,None,319172,213836,None
20,None,None,None,None,None,None,None,337757,220952,None
21,None,None,None,None,None,None,None,339064,224496,None
22,None,None,None,None,None,None,None,407884,225783,None
23,None,None,None,None,None,None,None,418005,232178,None
24,None,None,None,None,None,None,None,424238,241680,None
25,None,None,None,None,None,None,None,427786,251839,None
26,None,None,None,None,None,None,None,428022,281286,None
27,None,None,None,None,None,None,None,451347,291472,None
28,None,None,None,None,None,None,None,461658,293261,None
29,None,None,None,None,None,None,None,476426,311789,None
...,...,...,...,...,...,...,...,...,...,...
71,None,None,None,None,None,None,None,None,698233,None
72,None,None,None,None,None,None,None,None,698907,None
73,None,None,None,None,None,None,None,None,701402,None
74,None,None,None,None,None,None,None,None,709595,None
75,None,None,None,None,None,None,None,None,736853,None
76,None,None,None,None,None,None,None,None,739132,None
77,None,None,None,None,None,None,None,None,756700,None
78,None,None,None,None,None,None,None,None,769267,None
79,None,None,None,None,None,None,None,None,807695,None
80,None,None,None,None,None,None,None,None,809584,None
81,None,None,None,None,None,None,None,None,819918,None
82,None,None,None,None,None,None,None,None,820149,None
83,None,None,None,None,None,None,None,None,821040,None
84,None,None,None,None,None,None,None,None,855850,None
85,None,None,None,None,None,None,None,None,857416,None
86,None,None,None,None,None,None,None,None,860838,None
87,None,None,None,None,None,None,None,None,866711,None
88,None,None,None,None,None,None,None,None,889223,None
89,None,None,None,None,None,None,None,None,907397,None
90,None,None,None,None,None,None,None,None,915019,None
91,None,None,None,None,None,None,None,None,923179,None
92,None,None,None,None,None,None,None,None,930913,None
93,None,None,None,None,None,None,None,None,948796,None
94,None,None,None,None,None,None,None,None,950266,None
95,None,None,None,None,None,None,None,None,975773,None
96,None,None,None,None,None,None,None,None,982952,None
97,None,None,None,None,None,None,None,None,983542,None
98,None,None,None,None,None,None,None,None,985237,None
99,None,None,None,None,None,None,None,None,987139,None
100,None,None,None,None,None,None,None,None,,None

In [10]:
print("จำนวนงวด:", len(last_two_list))

จำนวนงวด: 296

In [47]:
# วิเคราะห์ เลขสองตัวท้าย 

last_two_list = []
for key in dataframe_lottos:
    last_two = int(dataframe_lottos[key]['TWO'][0])
    last_two_list.append(last_two)
    
last_two_list = pd.Series(last_two_list)

print(last_two_list.value_counts().head(10))

85    7
5     7
79    7
26    6
98    6
62    6
50    5
25    5
52    5
65    5
dtype: int64

In [53]:
two_reward = [85, 5, 79]
last_two_reward_date = []

for key in dataframe_lottos:
    last_two = int(dataframe_lottos[key]['TWO'][0])
    if last_two in two_reward:
        last_two_reward_date.append((last_two, key))
        
sorted(last_two_reward_date)

[(5, '2007-06-01.txt'),
 (5, '2008-03-01.txt'),
 (5, '2008-12-01.txt'),
 (5, '2009-12-16.txt'),
 (5, '2011-05-16.txt'),
 (5, '2013-09-01.txt'),
 (5, '2015-06-16.txt'),
 (79, '2012-03-01.txt'),
 (79, '2012-09-16.txt'),
 (79, '2013-12-16.txt'),
 (79, '2014-03-16.txt'),
 (79, '2015-02-01.txt'),
 (79, '2016-06-16.txt'),
 (79, '2018-09-16.txt'),
 (85, '2007-03-16.txt'),
 (85, '2009-11-01.txt'),
 (85, '2011-05-02.txt'),
 (85, '2011-09-01.txt'),
 (85, '2017-11-01.txt'),
 (85, '2018-04-01.txt'),
 (85, '2018-05-02.txt')]

In [43]:
# วิเคราะห์ รางวัลสามตัวท้าย

last_three_list = []
for key in dataframe_lottos:
    calling_index = 'THREE_LAST' if 'THREE_LAST' in dataframe_lottos[key].keys() else 'THREE'
    number_reward = 2 if 'THREE_LAST' in dataframe_lottos[key].keys() else 4
    
    for idx in range(number_reward):
        three = int(dataframe_lottos[key][calling_index][idx])
        last_three_list.append(three)
        
last_three_list = pd.Series(last_three_list)

print(last_three_list.value_counts().head(10))

576    6
589    6
945    5
8      5
158    5
639    5
285    4
648    4
390    4
570    4
dtype: int64

In [6]:
# วิเคราะห์ รางวัลที่ห้า

fifth_list = []
for key in dataframe_lottos:
    for idx in range(100):
        fifth = int(dataframe_lottos[key]['FIFTH'][idx])
        fifth_list.append(fifth)
        
fifth_list = pd.Series(fifth_list)

print(fifth_list.value_counts().head(10))

776965    3
136100    3
175370    3
580978    2
193490    2
711593    2
860336    2
65139     2
930668    2
161643    2
dtype: int64

In [32]:
# วิเคราะห์ รางวัลที่หนึ่ง

first_list = []
for key in dataframe_lottos:
    if dataframe_lottos[key]['FIRST'][0] != '':
        first = int(dataframe_lottos[key]['FIRST'][0])
        first_list.append(first)
        
first_list = pd.Series(first_list)

print(first_list.value_counts().head(10))

562684    1
927907    1
586117    1
170143    1
202912    1
141737    1
805540    1
656037    1
149840    1
715431    1
dtype: int64